.logo{
    width: 100%;
    height: 200px;
    background: black;
    text-align: center;
    margin-top:none
}
.logo img{
    width: 350px;
    height: 80px;
    margin-top: 20px
}
.logo a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.logo a:hover{
    color: #f9e0ee
}
.sidebar{
    background: black;
    width: 300px;
    height: 980px;
    float: left;
    text-align: center;
    padding-top: 23px
}
.sidebar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar a:hover{
    color: #f9e0ee
}
.sidemenu{
    margin-top: 500px
}
.texto{
    float: left;
    width: 1000px
}
.texto h2{
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fcb0da;
    font-style: italic
}
.texto p{
    margin-left: 40px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px
}
.texto ul{
    margin-left: 30px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px
}
.lista{
    padding-top: 10px
}
.footer{
    clear: both;
    background: #f9e0ee;
    width: 100%;
    height: 150px
}
.footer table{
    color: black;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
}
.listafoot{
    padding-top: 10px
}
.td{
    width: 30%;
    text-align: center;
}   
.hr {
    height = 80%; //del contenedor en el que se encuentre por ejemplo
    }
body { margin:0 }